<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars-Hoot</title>
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
</head>
<body>
<div class="back">
    <div class="waviy">
        <span style="--i:1">M</span>
        <span style="--i:2">A</span>
        <span style="--i:3">R</span>
        <span style="--i:4">S</span>
        <span style="--i:5">-</span>
        <span style="--i:6">H</span>
        <span style="--i:7">O</span>
        <span style="--i:8">O</span>
        <span style="--i:9">T</span>
    </div>
</div>
<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="#"><img src="{% static 'img/mars-logo.png'  %}" alt="logo"></a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign up</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="home">
</section>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>