* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.gamePinSection {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #46178f;
    border-bottom: 2px solid #290461;
}

.gamePinCode {
    padding: 10px;
    width: 18%;
    padding-left: 30px;
    border-radius: 5px;
    font-family: 'Lilita One', cursive;
    background-color: #fff;
}

.gamePinName {
    font-size: 18px;
    margin-bottom: 9px;
}

.gameIdNumber {
    font-size: 60px;
    letter-spacing: 2px;
}

.qrGeneration {
    padding: 2px;
    border-radius: 5px;
    background-color: #fff;
    margin-left: 5px;
}

.qrCode {
    width: 110px;
    height: 110px;
}

.characters {
    width: 100%;
    height: 75vh;
    background-color: #560090;
}

.charactersMembers {
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 80px;
}

.profilAndCount {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Lilita One', cursive;
    font-size: 16px;
    border-radius: 5px;
    background-color: #270041;
}

.counter {
    font-size: 30px;
    margin-left: 10px;
}

.marsKahootLogo {
    font-size: 70px;
    font-family: 'Lilita One', cursive;
    color: #fff;
}

.startAndLockImages {
    display: flex;
    align-items: center;
}

.startButtons {
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Lilita One', cursive;
    margin-left: 10px;
    border: none;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #cccccc;
}

.lockAndUnlockButtons {
    padding: 4px 5px;
    border: none;
    border-radius: 5px;
}

.userWaiting {
    display: inline-block;
    padding: 10px 30px;
    background-color: #270041;
    color: white;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    border-radius: 5px;
    font-size: 25px;
    margin-left: 38%;
}

.usersButtons {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.usersButtons div {
    background-color: #270041;
    margin-right: 10px;
    padding: 10px 18px;
    border-radius: 5px;
    color: #fff; 
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}