*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: 'DynaPuff', cursive;
}
.header {
    width: 100%;
    background: #270041;
    display: flex;
    justify-content: center;
}
.container {
    max-width: 1140px;
    width: 100%;
}
.header-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.header-logo {
    width: 200px;
}
.header-list {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
}
.header-link {
    color: #ffffff;
}
.btn-16 {
    border: none;
    color: #000;
    margin-right: 15px;
  }
  .btn-16:after {
    position: absolute;
    content: " ";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .btn-16:hover {
    color: #fff;
    border-radius: 5px;
    background: #6E00B8;
  }
  .btn-16:hover:after {
    left: auto;
    right: 0;
    border-radius: 5px;
    width: 100%;
  }
  .btn-16:active {
    top: 2px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 1px 1px 1px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  form{
   background: rgb(184, 184, 224);
   box-shadow: 5px 5px 15px rgb(184, 184, 224),
   -5px -5px 15px black;
   width: 700px;
   margin: 50px auto;
   border-radius: 12px;
   height: 600px;
   
}
   form .box{
    height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   padding: 20px;
}
.box input{
   width: 350px;
   padding: 15px 20px;
   border-radius: 10px;
   outline: none;
   border: none;
   background: rgb(200, 200, 200);
   font-size: 18px;
   /* border: 1px solid black; */
}
input::placeholder{
   color: #fff;
}
.container-main{
    border: 1px solid black; 
   background: rgb(122, 122, 209);
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   margin:0 auto;
   text-align: center;
}
.check span{
    display: flex;
    justify-content: center;
}
.check {
    display: flex;
    /* flex-direction: column; */
    align-items: space-around;
}
.main-title {
    font-size: 50px;
    color: #6E00B8;
}
h2, span{
    color: #6E00B8;
}
input[value="Submit"] {
    color: #fff;
    font-family: 'DynaPuff', cursive;
}
input[type="text"] {
    color: #fff;
    font-family: 'DynaPuff', cursive;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}