* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
} 

.duringGame {
    width: 100%;
    height: 100vh;
}

.duringGame nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.questionLists {
    padding: 20px 50px;
    width: 95%;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 25px;
    font-weight: 800;
    text-align: center;
    box-shadow: 3px 3px 8px black;
}

.startSkip {
    padding: 10px 18px;
    margin-left: 12px;
    background-color: rgb(19, 104, 206);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.timeDown {
    width: 3%;
    height: 2%;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #9700c0;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.collector {
    margin-top: 20px !important;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questionsImage {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.personAnswers {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.answersList {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;
    padding: 20px;
}

.answerItems {
    width: 45%;
    margin-bottom: 15px;
    display: flex;
    border: 1px solid grey;
   
}

.answerItems p {
    padding: 15px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.colorBlue {
    background-color: blue;
    color: #fff;
    display: flex;
    align-items: center;
}

.colorGreen {
    background-color: green;
    color: #fff;
    display: flex;
    align-items: center;
}

.colorRed {
    background-color: red;
    color: #fff;
    display: flex;
    align-items: center;
}

.colorYellow {
    background-color: yellow;
    color: #fff;
    display: flex;
    align-items: center;
}