*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.header {
    width: 100%;
    background: #270041;
    display: flex;
    justify-content: center;
}
.container {
    max-width: 1140px;
    width: 100%;
}
.header-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.header-logo {
    width: 200px;
}
.header-list {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
}
.header-link {
    color: #ffffff;
}
.btn-16 {
    border: none;
    color: #000;
    margin-right: 15px;
  }
  .btn-16:after {
    position: absolute;
    content: " ";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .btn-16:hover {
    color: #fff;
    border-radius: 5px;
    background: #6E00B8;
  }
  .btn-16:hover:after {
    left: auto;
    right: 0;
    border-radius: 5px;
    width: 100%;
  }
  .btn-16:active {
    top: 2px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 1px 1px 1px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .main {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80vh;
  }
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main-icon {
    font-size: 300px;
    color: #270041;
  }
  .username {
    font-size: 80px;
    font-family: 'DynaPuff', cursive;
    color: #270041;
  }

  .buttonsName {
    padding: 15px 0;
    font-size: 25px;
    border-radius: 15px;
    background-color: #270041;
    margin-bottom: 10px;
    border: none;
    transition: 0.2s;
  }

  .buttonsName:hover {
    background-color: #6E00B8;
  }

