@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
    background: linear-gradient(45deg, #f44516, #0d0d5b, #ffffff);
	background-size: 300% 300%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    position: relative;
    min-height: 100vh;  
}

.back {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.waviy {
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 100px;
  width: 100%;
  position: relative;
  z-index: -1;
  text-align: center;
}

.waviy span {
  font-family: 'Changa One', cursive;
  font-size: 150px;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

.container {
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 200px;
}

.nav {
    max-height: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.navlinks {
    height: 100px;
    align-items: center;
    display: flex;
    color: #ee7752;
    width: 200px;
    font-size: 30px;
    justify-content: space-between;
    margin-right: 30px;
}

.logo img{
    margin-top: 15px;
    width: 170px;
    height: 50px;
}

  .btn-16 {
    border: none;
    color: #000;
    margin-right: 15px;
  }
  
  .btn-16:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.2s ease;
  }
  
  .btn-16:hover {
    color: #fff;
    border-radius: 5px;
  }
  
  .btn-16:hover:after {
    left: auto;
    right: 0;
    border-radius: 5px;
    width: 100%;
  }
  
  .btn-16:active {
    top: 2px;
  }
  
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 1px 1px 1px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  
/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    
    .nav div.logo {
        margin-left: 15px;
    }
    
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    
    .nav div.show_list {
        height: auto;
        display: none;
    }
    
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    
    .nav div.media_button {
        display: block;
    }
}