* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
	background: linear-gradient(-45deg, #EBDD15,#f44516,#0d0d5b, #2DEB74);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    position: relative;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.firstSection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kahootName {
    font-size: 80px;
    color: #fff;
    font-family: 'Lilita One', cursive;
    font-weight: 500;
    margin-bottom: 30px;
}

.kahootForm {
    width: 24%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.kahootInput {
    padding: 17px;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    color:rgb(185, 183, 183);
    border: 2px solid rgb(185, 183, 183);
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: 'Lilita One', cursive;
}

.kahootButton {
    padding: 17px;
    text-align: center;
    font-size: 16px;
    border: 2px solid rgb(27, 27, 27);
    background: #23a6d5;
    color: #fff;
    border-radius: 5px;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    font-family: 'Lilita One', cursive;
}

.btn-15 {
    border: none;
    z-index: 1;
  }
  
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  
  .btn-15:hover {
    color: #fff;
  }
  
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  
  .btn-15:active {
    top: 2px;
  }