{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style/adduser.css' %}">
    <title>Add User Page</title>
</head>
<body>

<section class="gamePinSection">
    <div class="gamePinCode">
        <p class="gamePinName">Game Pin:</p>
        <p class="gameIdNumber">{{ quiz.pin_code }}</p>
    </div>
    <div class="qrGeneration">
        <img src="{% static 'img/qr-code-bc94057f452f4806af70fd34540f72ad.png' %}" alt="" class="qrCode">
    </div>
</section>

<section class="characters">
    <div class="charactersMembers">
        <div class="profilAndCount">
            <img src="{% static 'img/profile.png' %}" alt="">
            <p class="counter">{{ quiz.users.count }}</p>
        </div>
        <p class="marsKahootLogo">Mars-hoot!</p>
        <div class="startAndLockImages">
            <button class="lockAndUnlockButtons">
                <img src="{% static 'img/open-padlock.png' %}" alt="">
            </button>
            <button class="startButtons">
                <p><a href="{% url 'quiz-test' quiz_pk=quiz.pk %}">Start</a></p>
            </button>
        </div>
    </div>

    {% if quiz.users.count > 1 %}
    {% else %}
        <div class="userWaiting">
            <p>Waiting for players…</p>
        </div>
    {% endif %}

    <div class="usersButtons">
        {% for i in quiz.users.all %}
            <div>
            <p>{{ i.username }}</p>
        </div>
        {% endfor %}

    </div>
</section>

</body>
</html>