{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/create.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DynaPuff&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
         <div class="header-nav">
             <a href="./home.html"><img src=".{% static 'img/mars-icon.png' %}" alt="header-logo" class="header-logo"></a>
             <ul class="header-list">
                 <li><a href="./quizes.html" class="header-link"><button class="custom-btn btn-16">Quizes</button></a></li>
                 <li><a href="./create.html" class="header-link"><button class="custom-btn btn-16">Create</button></a></li>
                 <li><a href="#" class="header-link"><button class="custom-btn btn-16">Log-out</button></a></li>
             </ul>
         </div>
        </div>
     </header>
     <main class="main">
        <div class="container-main">
            <form action="">
                <div class="box">
                    <h1 class="main-title">Quiz</h1>
                    <input type="text" placeholder="Title">
                    <input type="text" placeholder="Type the question">
                    <input type="text" placeholder="Pin code">
                    <h2>Correct answer</h2>
                    <div class="check">
                        <input type="checkbox" placeholder="True" value="true"><span>True</span>
                    <input type="checkbox" placeholder="False" value="False"><span>False</span>
                    </div>
                    <input type="submit" name="Submit" value="Submit">
                </div>
            </form>
        </div>
     </main>
</body>
</html>