{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style/during.css' %}">
    <title>During Playing</title>
</head>
<body>
<section class="duringGame">
    <nav>
        <div class="questionLists">
            <p>{{ quiz.question }}</p>
        </div>
        <button class="startSkip">
            <p>Next</p>
        </button>
    </nav>

    <div class="collector">
        <div class="timeDown">
            <p>{{ quiz.time_limit }}</p>
        </div>

        <img src="{% static 'img/hulk.webp' %}" alt="" class="questionsImage">

        <div class="personAnswers">
            <p>{{ quiz.users.count }}</p>
            <p>Answers</p>
        </div>
    </div>


    <form method="POST">
        {% csrf_token %}
        <ul class="answersList">
            <li class="answerItems">
                <p class="colorBlue">A)</p>
                <p>{{ quiz.choice1 }}</p>
                <input type="checkbox" name="answer" value="Yes">
            </li>
            <li class="answerItems">
                <p class="colorGreen">B)</p>
                <p>{{ quiz.choice2 }}</p>
                <input type="checkbox" name="answer" value="No">
            </li>
            <li class="answerItems">
                <p class="colorRed">C)</p>
                <p>{{ quiz.choice3 }}</p>
                <input type="checkbox" name="answer" value="Maybe">
            </li>
            <li class="answerItems">
                <p class="colorYellow">D)</p>
                <p>{{ quiz.choice4 }}</p>
                <input type="checkbox" name="answer" value="I don't know">
            </li>
        </ul>
        <button type="submit">
            Submit
        </button>
    </form>
</section>
</body>
</html>