{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <title>Game Pin</title>
</head>
<body>
    <section class="firstSection">
        <h1 class="kahootName">Mars-hoot!</h1>
        <form method="POST" action="{% url 'join-quiz-room' %}" class="kahootForm">
            {% csrf_token %}
            <input name="pin_code" type="text" placeholder="Game PIN" class="kahootInput">
            <button type="submit" class="kahootButton custom-btn btn-15">
                <p>Enter</p>
            </button>
        </form>
    </section>
</body>
</html>