{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa+One&family=DynaPuff&family=Roboto:wght@300;400&family=Rubik+Dirt&display=swap"
          rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header-nav">
            <a href="{% url 'dashboard' %}"><img src="{% static 'img/mars-icon.png' %}" alt="header-logo"
                                                 class="header-logo"></a>
            <ul class="header-list">
                <li><a href="{% url 'my-quizes' %}" class="header-link">
                    <button class="custom-btn btn-16">Quizes</button>
                </a></li>
                <li><a href="{% url 'create-quiz' %}" class="header-link">
                    <button class="custom-btn btn-16">Create</button>
                </a></li>
                <li><a href="{% url 'logout' %}" class="header-link">
                    <button class="custom-btn btn-16">Log-out</button>
                </a></li>
            </ul>
        </div>
    </div>
</header>
<main class="main">
    <div class="container">
        <div class="main-content">
            <div class="main-icon">
                <i class="fa-solid fa-circle-user"></i>
            </div>
            <h1 class="username">Hello, {{ request.user.username }}</h1>
        </div>
    </div>
</main>
</body>
</html>