<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars-Hoot</title>
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Changa+One&family=Roboto:wght@300;400&family=Rubik+Dirt&family=Rubik+Marker+Hatch&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="#"><img src="{% static 'img/mars-logo.jpg' %}" alt="logo"></a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <a href="{% url 'login' %}"> <button class="custom-btn btn-16">Login</button></a>
                    <a href="{% url 'signup' %}"> <button class="custom-btn btn-16">Sign up</button></a>
                </ul>
            </div>
        </div>
    </nav>
    <div class="back">
        <div class="waviy">
            <span style="--i:1">M</span>
            <span style="--i:2">A</span>
            <span style="--i:3">R</span>
            <span style="--i:4">S</span>
            <span style="--i:5">-</span>
            <span style="--i:6">H</span>
            <span style="--i:7">O</span>
            <span style="--i:8">O</span>
            <span style="--i:9">T</span>
           </div>
    </div>
    <script src="./js/script.js"></script>
</body>
</html>