{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/home.css' %}">
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header-nav">
            <a href="{% url 'dashboard' %}"><img src="{% static 'img/mars-icon.png' %}" alt="header-logo" class="header-logo"></a>
            <ul class="header-list">
                {% if 'my-quizes' in request.path %}
                {% else %}
                    <li><a href="{% url 'my-quizes' %}" class="header-link">
                        <button class="custom-btn btn-16">Quizes</button>
                    </a></li>
                {% endif %}
                <li><a href="{% url 'create-quiz' %}" class="header-link">
                    <button class="custom-btn btn-16">Create</button>
                </a></li>
                <li><a href="{% url 'logout' %}" class="header-link">
                    <button class="custom-btn btn-16">Log-out</button>
                </a></li>
            </ul>
        </div>
    </div>
</header>

<main>
    <div class="row d-flex justify-content-center mt-3 w-100">
        <div class="col-4">
            {% for i in my_quizes %}
                <a href="{% url 'quiz-room-teacher' pk=i.pk %}">
                    <button class="btn btn-success w-100 buttonsName">
                        {{ i.title }}
                    </button>
                </a>
            {% endfor %}

        </div>
    </div>
</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>