<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars Kahoot</title>
    <link rel="stylesheet" href="{% static 'style/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="body-content">
    <div class="main-signup">
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="signup">
            <form method="POST">
                {% csrf_token %}
                <label for="chk" aria-hidden="true">Sign up</label>
                <input type="text" name="username" placeholder="Username" required="">
                <input type="email" name="email" placeholder="Email" required="">
                <input type="password" name="password" placeholder="Password" required="">
                <input type="password" name="confirm_password" placeholder="Password confirmation" required="">
                <button type="submit">Sign up</button>
            </form>
        </div>
        <div class="login">
            <form method="POST" action="{% url 'login' %}">
                <label for="chk" aria-hidden="true">Login</label>
                <input type="email" name="email" placeholder="Email" required="">
                <input type="password" name="password" placeholder="Password" required="">
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>